<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsRemoteRun" value="false"/>
    <add key="DriverType" value="Chrome"/>
    <add key="RemoteRunUrl" value="http://localhost:4444/wd/hub"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=KARINA-PC\SQLEXPRESS;Initial Catalog=TestDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
